/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

/*********** 
Base Styles 
***********/

body {
  font-size: 14px;
}

h4 {
  font-size: 16px;
}

blockquote {
  font-size: 14px;
}

.warning {
  color:#c21807;
  font-weight: 700;  
}





/********* 
Navigation 
*********/

.sidebar-heading {
  font-size: 16px !important;
}

a.sidebar-link {
  font-size: 14px !important;
}

.sidebar-group.is-sub-group > .sidebar-heading {
  font-size: 14px !important;
}

.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link {
  font-size: 14px !important;
}

.home .hero img
  max-width 450px!important

.theme-default-content:not(.custom) {
  max-width: 1200px;
}
